body{
	font-family: "Lantinghei SC", "Open Sans", Arial, "Hiragino Sans GB", "Microsoft YaHei", "\5FAE\8F6F\96C5\9ED1", "STHeiti", "WenQuanYi Micro Hei", SimSun, sans-serif;
	background: #fff2e3;
}
.top{
	width:600px;
	margin: 0 auto;
}
.head{
	text-align: center;
}
.title{
	font-size:55px;
	color:#87968e;
	margin-top:30px;
	font-weight:bold;
}
p{
	color:#87968e;
	font-size:20px;
	margin:20px 8px 60px 8px;
}
.link{
	text-align: center;
}
.item{
	margin:8px 10px 8px 10px;
	padding:10px 10px 10px 10px;
	border-radius:5px;
	background: #72b890;
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
.one{
	opacity:0.5;
}
.item:hover{
	opacity:0.7;
}
.item:active{
	opacity:0.6;
}
#picture{
	text-align:center;
}
img{
	margin-top:60px;
}
.push{
	text-align:center;
	margin-top:60px;
}
.button{
	background:#72b890;
	margin:60px 10px 60px 30px;
	padding:10px 10px;
	border-radius:5px;
	text-decoration:none;
	color:#fff;
	cursor:pointer;
}
.button:hover{
	opacity:0.7;
}
.button:active{
	opacity:0.6;
}
.foot{
	text-align:center;
	font-size:20px;
	color:#87968e;
	margin-top:60px;
}
a{
	color:#72b890;
	text-decoration:none;
	cursor:pointer;
}

